<!-- Footer -->
<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 mt-5 mb-5">
          <h5>Dentists</h5>
          <div>John Doe</div>
          <div>Mike Doe</div>
        </div>
        <div class="col-md-6 col-sm-12 mt-5 mb-5">
          <h5>Support Hours</h5>
          <div>08:00 - 18:00</div>
        </div>
      </div>
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <div class="container">
        © 2020 Copyright:
      <a href="https://veezble.com/" target="_blank"> veezble.com</a>
    </div>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->