.spacer {
  flex: 1;
}

.notification {
  background-color: black;
  color: white;
  font-weight: 600;
  padding: 10px;

  .close-button {
    cursor: pointer;
    float: right;
    font-weight: 700;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  &.notification-layer {
    display: none;
  }
}

.navbar {
  background-color: #3FCE92 !important;
  color: white;

  &.navbar-layer {
    background-color: rgba(0, 0, 0, .5) !important;
  }

  .navbar-brand {
    color: white;

    img {
      height: 30px;
      width: 30px;
    }
  }

  .nav-link img {
    height: 20px;
  }

  a {
    color: white;
  }

  #navbarNavDropdown {
    flex-grow: unset;
    
    .nav-link:not(.lang-swither) {
      color: white;
      cursor: pointer;

      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;

      &:hover,
      &.active {
        border-bottom-color: white;
      }
    }
  }

  .navbar-toggler {
    border: none;
    outline: none;

    .navbar-toggler-icon {
      color: white !important;
    }
  }
}

@media (max-width: 991.98px) {
  #navbarNavDropdown {
    a.nav-link:not(.lang-swither) {
      border: none !important;
 
      &.active {
        font-weight: bold;
      }
    }
  }
}