img {
  width: 100%;
}

#welcomeWrapper {
  height: 600px;
  position: relative;
  top: 0px;
  width: 100%;

  #welcomeMessage {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;

    > div {
      animation: 1s ease-out 0s 1 slideInFromRight;
    }
  }
}

#dentistGalleryWrapper {
  background-color: #3FCE92;
  height: 225px;
  .container {
    height: 100%;

    ::ng-deep ngx-gallery {
      padding: 10px 0 !important;
      
      ngx-gallery-thumbnails {
        margin: 0 !important;  
        .ngx-gallery-arrow { 
          color: #03A9F4;
        }
      }
    }
  }
}

.card-img-top {
  color: #3FCE92;
  font-size: 80px;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}