<div id="welcomeWrapper">
  <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
  <div id="welcomeMessage" class="row align-items-center">
    <div class="col-md-6 col-sm-12 offset-md-1">
      <h1>{{ 'SMILE_PROTECT_QUEST' | translate }}</h1>
      <h2>{{ 'LAST_DENTIST_VISIT_QUEST' | translate }}</h2>
      <a class="btn btn-primary" routerLink="/history">
        {{ 'VIEW_HISTORY' | translate }}
      </a>
    </div>
  </div>
</div>
<div class="container">
  <h1 class="text-center mt-5">{{ 'HOME_OFFER_PATIENT' | translate }}</h1>
  <div class="row mt-5">
    <span class="col-md-6">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    </span>
    <span class="col-md-6">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    </span>
  </div>
  <h1 class="text-center mt-5">{{ 'HOME_DENTIST_LIST' | translate }}</h1>
  <div id="dentistGalleryWrapper">
    <ngx-gallery [options]="dentistGalleryOptions" [images]="dentistGalleryImages"></ngx-gallery>
  </div>
  <h1 class="text-center mt-5">{{ 'HOME_OFFER_DOCTOR' | translate }}</h1>
  <div class="row mt-5">
    <span class="col-md-6">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    </span>
    <span class="col-md-6">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    </span>
  </div>
</div>