img {
  width: 100%;
}

#welcomeWrapper {
  height: 600px;
  position: relative;
  top: 0px;
  width: 100%;

  #welcomeMessage {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;

    > div {
      animation: 1s ease-out 0s 1 slideInFromRight;
    }
  }
}

#dentistGalleryWrapper {
  height: 225px;
  ::ng-deep ngx-gallery {
    background-color: #3FCE92;
    padding: 10px 0 !important;
    
    ngx-gallery-thumbnails {
      margin: 0 !important;
      .ngx-gallery-thumbnail {
        // border-radius: 100%; 
        // height: 205px !important;
        // width: 205px !important;
      }

      .ngx-gallery-arrow { 
        color: #03A9F4;
      }
    }
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}