<div id="welcomeWrapper">
  <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
  <div id="welcomeMessage" class="row align-items-center">
    <div class="col-md-6 col-sm-12 offset-md-1">
      <h1>{{ 'SMILE_PROTECT_QUEST' | translate }}</h1>
      <h2>{{ 'LAST_DENTIST_VISIT_QUEST' | translate }}</h2>
      <a class="btn btn-primary" routerLink="/history">
        {{ 'HOME_PAGE.VIEW_HISTORY' | translate }}
      </a>
    </div>
  </div>
</div>
<div class="container mt-5">
  <h1 class="text-center">{{ 'HOME_PAGE.OFFER_PATIENT' | translate }}</h1>
  <div class="row mt-5">
    <div class="card" class="col-md-3 col-sm-6 col-xm-1 text-center">
      <i class="card-img-top fa fa-history" aria-hidden="true"></i>
      <div class="card-body text-center">
        <h5 class="card-title">History</h5>
        <p class="card-text">You can view your teeth history</p>
      </div>
    </div>
    <div class="card" class="col-md-3 col-sm-6 col-xm-12 text-center">
      <i class="card-img-top fa fa-user-md" aria-hidden="true"></i>
      <div class="card-body text-center">
        <h5 class="card-title">Dentists</h5>
        <p class="card-text">You can choose a dentist</p>
      </div>
    </div>
    <div class="card" class="col-md-3 col-sm-6 col-xm-12 text-center">
      <i class="card-img-top fa fa-hospital-o" aria-hidden="true"></i>
      <div class="card-body text-center">
        <h5 class="card-title">Clinics</h5>
        <p class="card-text">You can view choose a clinic</p>
      </div>
    </div>
    <div class="card" class="col-md-3 col-sm-6 col-xm-12 text-center">
      <i class="card-img-top fa fa-calendar" aria-hidden="true"></i>
      <div class="card-body text-center">
        <h5 class="card-title">Consultation</h5>
        <p class="card-text">Get a free cosultation</p>
      </div>
    </div>
  </div>
</div>
<h1 class="text-center mt-5">{{ 'HOME_PAGE.DENTIST_LIST' | translate }}</h1>
<div id="dentistGalleryWrapper">
  <div class="container mt-5">
    <ngx-gallery [options]="dentistGalleryOptions" [images]="dentistGalleryImages"></ngx-gallery>
  </div>
</div>
<div class="container mt-5 mb-5">
  <h1 class="text-center">{{ 'HOME_PAGE.OFFER_DOCTOR' | translate }}</h1>
  <div class="row mt-5">
    <div class="card" class="col-md-3 col-sm-6 col-xm-1 text-center">
      <i class="card-img-top fa fa-history" aria-hidden="true"></i>
      <div class="card-body text-center">
        <h5 class="card-title">History</h5>
        <p class="card-text">You can view pacient's history</p>
      </div>
    </div>
    <div class="card" class="col-md-3 col-sm-6 col-xm-12 text-center">
      <i class="card-img-top fa fa-download" aria-hidden="true"></i>
      <div class="card-body text-center">
        <h5 class="card-title">Digitalization</h5>
        <p class="card-text">You can get rid of papers</p>
      </div>
    </div>
    <div class="card" class="col-md-3 col-sm-6 col-xm-12 text-center">
      <i class="card-img-top fa fa-users" aria-hidden="true"></i>
      <div class="card-body text-center">
        <h5 class="card-title">Patients</h5>
        <p class="card-text">You can view the list of patients</p>
      </div>
    </div>
    <div class="card" class="col-md-3 col-sm-6 col-xm-12 text-center">
      <i class="card-img-top fa fa-calendar" aria-hidden="true"></i>
      <div class="card-body text-center">
        <h5 class="card-title">Consultation</h5>
        <p class="card-text">Offer your consultation</p>
      </div>
    </div>
  </div>
</div>