#historyWrapper .row { 
    margin: 0;

    path {
        &.hovered {
            fill: rgba(255, 0, 0, 0.651) !important;
        }
        &.selected {
            fill: red !important;
        }
    }
}
