/* You can add global styles to this file, and also import other style files */
body {
    background-color: white;
    margin: 0;
}

#darkLayer {
    min-height: 100vh;
}

/* Buttons styling */
.btn-primary {
    background-color: #3FCE92;
    border-color: #3FCE92;

    &:hover,
    &:active,
    &:focus { 
        background-color: #43b887 !important;
        border-color: #43b887 !important;
    }
} 